$cBlack: black;

.three-dot-spinner {
  text-align: center;

  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: $cBlack;
    border-radius: 50%;
    animation: sk-bouncedelay 1.4s infinite;

    @for $i from 1 through 2 {
        //https://sass-lang.com/documentation/interpolation/
        &:nth-child(#{$i}){ //内挿 (Interpolation): selectorの場所で変数を使用したい場合は#{}
            animation-delay: -0.32s / $i; // iで割った秒
            // background-image: url('/images/image#{$i}.png');
        }
    }
 }
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}